.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 375px;
}

.main {
  padding: 0;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 0 3rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

.contact input, 
.contact textarea {
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 1.25rem;
}
